---
import Base from "../layouts/Base.astro";
---

<Base title="FIDESZ SAPKA" description="archive">
  <div class="drive-columns">
    <span>Name</span>
    <span>Last modified</span>
    <span>File size</span>
  </div>

  <a href="/tracks" class="drive-row" id="folder-tracks">
    <span class="drive-row__name">
      <span class="drive-icon drive-icon--folder">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z" fill="#f4b400"/></svg>
      </span>
      tracks
    </span>
    <span class="drive-row__meta">2026-04-20</span>
    <span class="drive-row__meta">—</span>
  </a>

  <a href="/photos" class="drive-row" id="folder-photos">
    <span class="drive-row__name">
      <span class="drive-icon drive-icon--folder">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z" fill="#f4b400"/></svg>
      </span>
      photos
    </span>
    <span class="drive-row__meta">2026-04-20</span>
    <span class="drive-row__meta">—</span>
  </a>

  <a href="/videos" class="drive-row" id="folder-videos">
    <span class="drive-row__name">
      <span class="drive-icon drive-icon--folder">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z" fill="#f4b400"/></svg>
      </span>
      videos
    </span>
    <span class="drive-row__meta">2026-04-20</span>
    <span class="drive-row__meta">—</span>
  </a>
</Base>
